* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

h1 {
    position: absolute;
    top:20vh;
    left: 50vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:30vh;
    left: 50vw;
    gap: 3rem;
}

.weather-details-container {
    display: grid;
    grid-template-areas: 
        "temp temp humidity"
        "temp temp currentCondition"
        "location location feelslike"
        "description description description";
    gap: 1rem;
}

.temp-div {
    grid-area: temp;
}

.location-div {
    grid-area: location;
}

.desc-div {
    grid-area: description;
}

.humidity-div {
    grid-area: humidity;
}

.currentCondition-div {
    grid-area: currentCondition;
}

.feelsLike-div {
    grid-area: feelslike;
}

