* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-image: url(../assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fading background layer */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.8s ease-in-out; /* smooth fade */
}

 
h1 {
    color: rgb(210, 249, 250);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
 }

.header {
    display: flex;
    gap: 2rem;
}

img {
    height: 4rem;
    width: 4.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top:30vh;
    left: 45vw;
    gap: 3rem;
}

.weather-details-container {
    display: grid;
    grid-template-areas: 
        "temp temp humidity"
        "temp temp currentCondition"
        "location location feelslike"
        "description description description";
    gap: 2rem;
    border-radius: 1rem;
    background-color: rgba(141, 213, 231, 0.8);
    padding: 1rem;
    box-shadow: 5px 5px 15px gray;
}

.temp-div {
    grid-area: temp;
    font-weight: bolder;
    font-size: 2.5rem;
}

.location-div {
    grid-area: location;
    font-weight: bold;
    font-size: 1.25rem;
}

.desc-div {
    grid-area: description;
}

.humidity-div {
    grid-area: humidity;
}

.currentCondition-div {
    grid-area: currentCondition;
}

.feelsLike-div {
    grid-area: feelslike;
}

form {
    display: flex;
    gap: 1rem;
}

button {
    width: 2rem;
    background-color: none;
}

input {
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}