* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
}


.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top:30vh;
    left: 45vw;
    gap: 3rem;
}

.weather-details-container {
    display: grid;
    grid-template-areas: 
        "temp temp humidity"
        "temp temp currentCondition"
        "location location feelslike"
        "description description description";
    gap: 2rem;
    border-radius: 1rem;
    background-color: rgba(79, 209, 241, 0.8);
    padding: 1rem;
    box-shadow: 5px 5px 15px gray;
}

.temp-div {
    grid-area: temp;
    font-weight: bolder;
    font-size: 2.5rem;
}

.location-div {
    grid-area: location;
    font-weight: bold;
    font-size: 1.25rem;
}

.desc-div {
    grid-area: description;
}

.humidity-div {
    grid-area: humidity;
}

.currentCondition-div {
    grid-area: currentCondition;
}

.feelsLike-div {
    grid-area: feelslike;
}

